flow.json
[{"id":"b14c0578.f68f8","type":"tab","label":"home automation","disabled":false,"info":""},{"id":"d8b62e30.f581f","type":"Bme280","z":"b14c0578.f68f8","name":"","bus":"1","address":"0x76","topic":"bme280","extra":true,"x":300,"y":420,"wires":[["f5fbca35.1dbd38"]]},{"id":"40407d0a.1b4db4","type":"inject","z":"b14c0578.f68f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":420,"wires":[["d8b62e30.f581f"]]},{"id":"f5fbca35.1dbd38","type":"split","z":"b14c0578.f68f8","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"topic","x":450,"y":420,"wires":[["fbe339a2.45e89"]]},{"id":"fbe339a2.45e89","type":"switch","z":"b14c0578.f68f8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"temperature_C","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"pressure_hPa","vt":"str"},{"t":"eq","v":"altitude_M","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":590,"y":420,"wires":[["2cc0f59a.a3940a","8876597e.21ed18"],["bb609e56.9f89"],["800a06df.bf9358"],["1fb57f3e.fb7079"]]},{"id":"2cc0f59a.a3940a","type":"switch","z":"b14c0578.f68f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"coolerThresh","v2t":"global"},{"t":"btwn","v":"coolerThresh","vt":"global","v2":"heaterThresh","v2t":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":690,"y":240,"wires":[["96f3f98e.48f6f","630758bf.c285"],["96f3f98e.48f6f","e545df2.22757a"],["1d9e16b0.7e97b1","e545df2.22757a"]]},{"id":"bf94c1c.274dd4","type":"change","z":"b14c0578.f68f8","name":"turn off Cooler","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"icon","pt":"msg","to":" fa-toggle-on","tot":"str"},{"t":"set","p":"fancolor","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"faicon","pt":"msg","to":"fa-thumbs-down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":720,"wires":[[]]},{"id":"e169849a.aed3d8","type":"change","z":"b14c0578.f68f8","name":"turn on Cooler","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"icon","pt":"msg","to":" fa-toggle-off","tot":"str"},{"t":"set","p":"fancolor","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"faicon","pt":"msg","to":"fa-thumbs-up","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":660,"wires":[[]]},{"id":"a5d8e5ad.3a7b08","type":"ui_slider","z":"b14c0578.f68f8","name":"","label":"Cooler threshold: ","tooltip":"","group":"e4389da3.a86258","order":1,"width":12,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"60","step":"5","x":150,"y":700,"wires":[["6e7c3242.c7f074"]]},{"id":"6e7c3242.c7f074","type":"change","z":"b14c0578.f68f8","name":"","rules":[{"t":"set","p":"coolerThresh","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":700,"wires":[[]]},{"id":"68645d2c.e1d9d4","type":"rpi-gpio out","z":"b14c0578.f68f8","name":"Cooler","pin":"12","set":"","level":"0","freq":"","out":"out","x":1390,"y":180,"wires":[]},{"id":"8876597e.21ed18","type":"ui_gauge","z":"b14c0578.f68f8","name":"temperature","group":"ca3e68cc.7be3b","order":2,"width":7,"height":5,"gtype":"gage","title":"temperature","label":"°C","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":420,"wires":[]},{"id":"bb609e56.9f89","type":"ui_gauge","z":"b14c0578.f68f8","name":"humidity","group":"ca3e68cc.7be3b","order":1,"width":6,"height":5,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":"50","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1020,"y":480,"wires":[]},{"id":"c3cf3be8.4ca6","type":"ui_text","z":"b14c0578.f68f8","group":"ca3e68cc.7be3b","order":4,"width":7,"height":2,"name":"","label":"Pressure","format":"{{msg.payload}} hPa","layout":"col-center","x":1020,"y":540,"wires":[]},{"id":"61e28be4.78580c","type":"ui_text","z":"b14c0578.f68f8","group":"ca3e68cc.7be3b","order":3,"width":6,"height":2,"name":"","label":"Altitude","format":"{{msg.payload}} m","layout":"col-center","x":1020,"y":600,"wires":[]},{"id":"1fb57f3e.fb7079","type":"change","z":"b14c0578.f68f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(msg.payload, 2)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":600,"wires":[["61e28be4.78580c"]]},{"id":"800a06df.bf9358","type":"change","z":"b14c0578.f68f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(msg.payload, 2)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":540,"wires":[["c3cf3be8.4ca6"]]},{"id":"a30d4e92.cd6db8","type":"ui_template","z":"b14c0578.f68f8","group":"cf397af.d6bde08","name":"Heater status","order":3,"width":6,"height":3,"format":"\n<center>\n    <p>heater status:</p>\n    <i class=\"fa {{msg.icon}}\" style=\"color:{{msg.color}}; font-size:60px;\"></i>\n    <p>{{msg.message}}</p>\n</center>\n ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1330,"y":80,"wires":[[]]},{"id":"98e19e9.a8a9ae","type":"ui_template","z":"b14c0578.f68f8","group":"cf397af.d6bde08","name":"Cooler Status","order":2,"width":5,"height":3,"format":"\n<center>\n    <p>Cooler status:</p>\n    <i class=\"fa {{msg.icon}}\" style=\"color:{{msg.color}}; font-size:60px;\"></i>\n    <p>{{msg.message}}</p>\n</center>\n\n ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1320,"y":20,"wires":[[]]},{"id":"dfdab17c.ffa77","type":"ui_slider","z":"b14c0578.f68f8","name":"","label":"Heater threshold: ","tooltip":"","group":"e4389da3.a86258","order":2,"width":12,"height":2,"passthru":true,"outs":"end","topic":"","min":0,"max":"60","step":"5","x":150,"y":780,"wires":[["1ad83cd5.9dc1fb"]]},{"id":"1ad83cd5.9dc1fb","type":"change","z":"b14c0578.f68f8","name":"","rules":[{"t":"set","p":"heaterThresh","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":780,"wires":[[]]},{"id":"ae52ff1e.4ce6b","type":"comment","z":"b14c0578.f68f8","name":"Control","info":"## Control","x":110,"y":660,"wires":[]},{"id":"7d8671dc.c409b","type":"rpi-gpio out","z":"b14c0578.f68f8","name":"Heather","pin":"16","set":"","level":"0","freq":"","out":"out","x":1420,"y":260,"wires":[]},{"id":"96f3f98e.48f6f","type":"change","z":"b14c0578.f68f8","name":"turn off Cooler","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"icon","pt":"msg","to":"fa-snowflake-o","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"black","tot":"str"},{"t":"set","p":"message","pt":"msg","to":"The cooler is off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":80,"wires":[["68645d2c.e1d9d4","98e19e9.a8a9ae"]]},{"id":"630758bf.c285","type":"change","z":"b14c0578.f68f8","name":"turn on heater","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"icon","pt":"msg","to":"fa-fire","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"message","pt":"msg","to":"The heater is on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":160,"wires":[["7d8671dc.c409b","a30d4e92.cd6db8"]]},{"id":"e545df2.22757a","type":"change","z":"b14c0578.f68f8","name":"turn off heater","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"icon","pt":"msg","to":"fa-fire","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"black","tot":"str"},{"t":"set","p":"message","pt":"msg","to":"The heater is off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":240,"wires":[["a30d4e92.cd6db8","7d8671dc.c409b"]]},{"id":"1d9e16b0.7e97b1","type":"change","z":"b14c0578.f68f8","name":"turn on Cooler","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"icon","pt":"msg","to":"fa-snowflake-o","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"blue","tot":"str"},{"t":"set","p":"message","pt":"msg","to":"The cooler is on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":300,"wires":[["98e19e9.a8a9ae","68645d2c.e1d9d4"]]},{"id":"e4389da3.a86258","type":"ui_group","z":"","name":"Control","tab":"e8e11993.ae9b28","order":3,"disp":true,"width":"12","collapse":false},{"id":"ca3e68cc.7be3b","type":"ui_group","z":"","name":"Weather info","tab":"e8e11993.ae9b28","order":1,"disp":true,"width":13,"collapse":false},{"id":"cf397af.d6bde08","type":"ui_group","z":"","name":"status","tab":"e8e11993.ae9b28","order":2,"disp":true,"width":12,"collapse":false},{"id":"e8e11993.ae9b28","type":"ui_tab","z":"","name":"Automation","icon":"dashboard","order":2,"disabled":false,"hidden":false}]